// Estilos generales de las páginas
body {
	background: $body-background-color;
	color: $main-text-color;
	font-family: $main-font-family;
	font-size: $font-size-base;
	padding-top: 50px;
}

// Imágenes, videos y objetos responsive
img,
embed,
video,
object {
	max-width: 100%;
}