// Variables

// Estilos de las canciones
.songs-list {
	
	.song {
		
		@extend .clearfix; // Aplica automáticamente el estilo de clearfix
		border-bottom: 1px solid $color-grey;
		
		.cover {
			width: 60px;
			float: left;
			margin-right: 10px;
		}
		
		.artist {
			margin-top: 15px;
			font-weight: bold;
		}

		.artist,		
		.title {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			display: block;
			height: 16px;
			padding-right: 20px;
		}
	}
}