// Variables
$web-header-background: $color-sirena;
$web-header-color: $color-white;

// Estilos de la cabecera
.web-header {
	position: fixed; // Cabecera fija arriba
	z-index: 99; // Siempre visible
	top: 0px; // Cabecera fija arriba
	left: 0px; // Cabecera fija arriba
	background: fade-out($web-header-background, 0.1);
	width: 100%;
	padding: 15px 0px;
	color: $web-header-color;
	text-align: center;
	text-transform: uppercase;

	.web-title {
		font-size: $font-size-base + 5px;
		text-shadow: 2px 2px 0px darken($web-header-background, 30%); // Sombra con un color 20% más oscuro que el color de fondo
	}
}